body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
}

.timeline-wrapper {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
}

.timeline-container {
    flex: 1;
    min-width: 300px;
    max-width: 45%;
    margin-bottom: 40px;
}

h2 {
    text-align: center;
    color: #D2122E;
}

.timeline {
    position: relative;
    padding: 20px 0;
}

.timeline::before {
    content: '';
    position: absolute;
    width: 4px;
    background-color: #FF9F55;
    top: 0;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.timeline-event {
    position: relative;
    margin: 20px 0;
    width: 100%;
    padding: 20px 40px;
    box-sizing: border-box;
}

.timeline-content {
    padding: 20px;
    background-color: white;
    border-radius: 6px;
    position: relative;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    text-align: center;
}

.timeline-content h2 {
    margin: 0 0 10px;
    font-size: 1.5em;
    color: #D2122E;
}

.timeline-content p {
    margin: 0;
}

@media screen and (max-width: 800px) {
    .timeline-container {
        max-width: 100%;
    }
}
